/*********************
 ** General Styling **
 *********************/

html, body {
	/* 
	position: absolute;
	left: 0;
	top: 0;
	/* */
	height: 100%;
	width: 100%;
	margin: 0;
}


svg {
	/* Doesn't work, but I'll keep it for now *
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* */
	margin: 10px;
}

div.verticalCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 40pt;
}

polygon.highlightedBrother {
	fill: yellow;
}


/******************
 ** Context Menu **
 ******************/

.context-menu {
	display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu-active {
	display: block;
}

.context-menu-item {
	display: block;
  margin-bottom: 4px;
	list-style: none;
}

.context-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu-item:last-child {
  margin-bottom: 0;
}

.context-menu-item:hover {
  color: #fff;
  background-color: #0066aa;
}

.context-menu-link {
  display: block;
  padding: 4px 12px;
  color: rgb(119,36,50);
  text-decoration: none;
}

.context-menu-link:hover {
  color: #fff;
  background-color: rgb(119,36,50);
}

/**********************
 ** Menu and Dialogs **
 **********************/
.holder div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  z-index: 10;
  padding: 12px 0;
	padding-left: 5px;
	padding-right: 5px;
  width: 300px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

#newBrotherDialog label{
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
    text-align: right;
		margin: 5px 0;
}

#newBrotherDialog input {
  display: inline-block;
  float: left;
	margin: 5px 0;
}

#newBrotherDialog button {
  display: inline-block;
	margin: 5px 0;
}

button.left {
		float: left;
		margin-left: 30px;
}

button.right {
		float: right;
		margin-right: 30px;
}

.holder {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}

.holderActive {
	display: block;
}

/******************
 ** Control Menu **
 ******************/
#controlMenu {
	position: fixed;
	left: 0;
	top: 0;
	padding: 10px;
	border: solid 2px;
	background-color: white;
}

#controlMenu, #controlMenu button, #controlMenu input {
	font-size: 15pt;
}